/*
    BODY
*/
.body {
    height: 100%;
    display: flex;
    flex-direction: row;
    padding: 1rem 0;
}
.tabBar {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 0 1rem;
}

.tabItemContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 8rem;
    width: 6rem;

    cursor: pointer;
}

.tabItemContainer > *:last-child {
    margin-top: calc(-1rem - 7px);
}

.tabItemName {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;

    border: 10px solid black;
    border-image: url(../assets/Pencil_Border.PNG) 10% repeat;
}

.tabItemContainer:hover > .tabItemName {
    border-image: url(../assets/Pencil_Border_Grey.PNG) 10% repeat;
}

.tabItemSelect {
    background-color: white;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    width: 3rem;
    height: 3rem;
    padding: 0.5rem;
}

.activeSymbol {
    visibility: hidden;
}

.tabItemContainer:global(.active) .activeSymbol {
    visibility: visible;
}

.tabContentContainer {
    width: 100%;
}

.section {
    display: flex;
    flex-direction: column;
    padding: 0 0.5rem;

    border: 10px solid black;
    border-image: url(../assets/Pencil_Border.PNG) 10% repeat;
}
.section .title {
    font-size: large;
    padding: 0.5rem 0;
}
.section .line {
    width: 100%;
    border-top: 5px solid #ddd;
    border-image: url(../assets/Pencil_Border_Grey.PNG) 10% repeat;
}
.section .btn {
    cursor: pointer;
    border: 10px solid black;
    border-image: url(../assets/Pencil_Border.PNG) 10% repeat;
    background-color: lightblue;
    border-radius: 10px;
}
.btn:hover {
    border-image: url(../assets/Pencil_Border_Grey.PNG) 10% repeat;
}
.item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 40px;
    align-items: center;
}
.item:not(:first-child) {
    border-top: 5px solid #ddd;
    border-image: url(../assets/Pencil_Border_Grey.PNG) 10% repeat;
}